<% include partials/header %>
<form action="/data/sentences" method="post" class="mt-3">
  <input type="hidden" name="researchId" value="<%= research._id %>"></input>
  <div class="form-group">
    <label for="newData">Data to label</label>
    <textarea class="form-control" id="newData" name="newData" rows="20" placeholder="Write your strings here (one in each line)"></textarea>
  </div>
  <button type="submit" class="btn btn-success btn-lg btn-block">Send</button>
</form>
<% include partials/footer %>